<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roomie_2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roomie_2">

        <activity
            android:name=".LoginViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".LoginViewActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".BillsViewActivity"
            android:exported="false" />

        <activity
            android:name=".AdminUploadPhotosActivity"
            android:exported="false" />
        <activity
            android:name=".ApartmentView"
            android:exported="false" />
        <activity
            android:name=".AdminUpdateInfo"
            android:exported="false" />
        <activity
            android:name=".ShowInfoActivity"
            android:exported="false" />
        <activity
            android:name=".EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".JoinApartmentActivity"
            android:exported="false" />
        <activity
            android:name=".BillsActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewApartment"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".FirstRegisteredEntry"
            android:exported="false" />
        <activity
            android:name=".WelcomeUserActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingListActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".LoginActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>